# exclude all
*
# include folders
!*/
# include gitignore
!.gitignore
# include vhdl and test bench files
!*.vhd
!*.vht
!*.do
!*.sh

# include readme files
!*.png
!*.jpg
!*.md

soc/db/ip/sldb1edb0b4/submodules/alt_sld_fab_alt_sld_fab_sldfabric.vhd